@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
html{
    overflow: hidden;
}

body{
    margin: 0;
    font-family: 'Lora', sans-serif;
    color: white;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.regular-wrapper{
    width: 100vw;
    padding-top: 20vh;
    padding-bottom: 40vh;
    z-index: 2;
    position: relative;
}

.parallax-wrapper{
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

.parallax-wrapper::before{
    content:"";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-position: center;
    /*
    background-size: 100%;
    */
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

.filler-image::before{
    background-image: url(images/ucsd-filler.jpg);
    background-size: 100%;
}

/* HEADER RULES */
.welcome::before{
    background-image: url(images/header-img.jpg);    
    background-size: 100%;
}

.nav-bar{
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}

.nav-options{
    display:inline-flex;
    margin-right:20px;
    font-size: 15px;
    border: 3px;
    border-style: solid;
    padding: 10px 1em 10px 1em;
}

header .welcome-text{
   margin: 0 auto;
   padding-top: 15vh;
   width: 90%;
   text-align: center;
   font-size: 26px;
   text-transform: uppercase;
}

/* ABOUT ME SECTION RULES */
.intro-wrapper{
    background-image: url(images/whitebg.jpg);
}

.intro-content{
    margin: 0 auto;
    padding: 50px;
    width: 70%;
    color: black;
    text-align: center;
}

.first-intro{
    font-size: 30px;
}

.separator{
    opacity: 0.3;
}

.about-me-section{
    display: flex;
}

.about-me-photography{
    margin-right: 20px;
}

.about-me-personal{
    margin-left: 20px;
}

/* PHOTOS PREVIEW SECTION RULES */
.photos-preview-wrapper{
    background-image: url(images/whitebg.jpg);
}

.photo-content{
    margin: 0 auto;
    padding: 50px;
    width: 70%;
    color: black;
}

.photo-content-title{
    font-size: 30px;
    text-align: center;
}

.photos-timeline{
    display: flex;
}

.photos-block{
    margin-top: 5vh;
}

/* RESPONSIVE FOR PHOTO GALLERY PREVIEW */
@media only screen and (max-width: 750px){
    .photos-timeline{
        flex-wrap: wrap;
    }

    .welcome::before{
        background-size: cover;
    }

    .filler-image::before{
        background-size: cover;
    }

    .photos-preview-wrapper{
        background-size: cover;
    }

    .intro-wrapper{
        background-size: cover;
    }

    header .welcome-text{
        padding-top: 10vh;
        font-size: 20px;
    }

    input[type=text]{
        width: 100px;
    }
}

@media only screen and (max-width: 430px){
    .nav-options{
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh;
    }

    header .welcome-text{
        padding-top:5vh;
    }

    .about-me-section{
        flex-direction: column;
    }
}

.photos-timeline-left{
    display: flex;
    flex-direction: column;
    color: black;
}
/*
.photos-timeline-left::before{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: grey;
    position: absolute;
    left: 2rem;
    top: 0;
}
*/
.photos-timeline-right{
    display:flex;
    flex-direction: column;
    color: black;
    float: right;
}

.captions{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 1vh;   
    text-transform: uppercase; 
}

.container{
    text-align: center;
    padding: 10px 20px;
}

.photo{
    width: 80%;
    margin-right: 10vw;
    background-color: white;
}

.photo:hover{
    box-shadow: 0 0 3px 2px grey;
}

.bullet{
    background: black;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-left: -0.75rem;
    position: absolute;
    left: 2rem;
    top: .3rem;
}

/*
.vertical-line{
    margin-top: 10vh;
    border-left: 2px solid;
    opacity: 0.3;
    height: 600px;
}
*/

/* FOOTER RULES */
.contact-footer{
    height: 100vh;
    background-color: black;
    text-align: center;
}

.contact-me-title{
    font-size: 30px;
}

input[type=text]{
    text-align: left;
    width: 60vw;
    background-color: black;
    border-bottom: 2px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: white;
    padding: 5px 0 7px 5px;
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

input::placeholder{
    color: grey;
    font-size: 18px;
}

textarea{
    width: 60vw;
    font-size: 18px;
    font-family: 'Lora', sans-serif;
    background-color: black;
    color: grey;
    border-bottom: 2px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 40vh;
    margin-left: 0px;
    resize: none;
}

.submit-button-wrapper{
    padding: 10vh;
}

.submit-button{
    height: 10vh;
    width: 60vw;
    font-family: 'Lora', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border: 0;
    text-transform: uppercase;
}